/* Set the background color of the page */
body {
background-color: #f2f2f2;
}

/* Style the buttons */
.buttons {
position: absolute;
top: 20px;
right: 20px;
text-align: right;
color: blue;
}

button {
background-color: #007bff;
border: none;
color: #fff;
padding: 8px 16px;
font-size: 16px;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s ease-in-out;
}

button:hover {
background-color: #0069d9;
}

/* Style the table */
table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
#tableBox {
  margin: auto;
}
     #tableContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      #tableBox {
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        overflow: hidden;
      }
      #tableBox thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
      }
      #tableBox th, #tableBox td {
        padding: 12px 15px;
      }
      #tableBox tbody tr {
        border-bottom: 1px solid #dddddd;
      }
      #tableBox tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
      }
      #tableBox tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
      }
      #countBox {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #009879;
        color: #ffffff;
        padding: 5px;
        border-radius: 5px;
      }
      /* Выравнивание по центру */
#searchInput, #searchFrom, #searchTo {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* Стили для поля ввода */
input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 80%;
  max-width: 400px;
  font-size: 16px;
}

/* Стили для placeholder */
::placeholder {
  color: #aaa;
}

/* Стили при фокусе на поле ввода */
input[type="text"]:focus {
  border-color: #2d9bf0;
  outline: none;
}
