<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SDfsdf</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/initJson.js"></script>
    <script src="/static/script.js"></script>
</head>
<body>

<input type="text" id="searchInput" onkeyup="SearchWeight()" placeholder="Вес...">
<input type="text" id="searchFrom" onkeyup="SearchFrom()" placeholder="Куда...">
<input type="text" id="searchTo" onkeyup="SearchTo()" placeholder="Откуда...">
<div id="count"></div>
<table id="tableBox">

</table>
<script>

</script>
</body>
</html>
